body {
	font-family: 'Garamond', serif;
}
h3 {
	color: white;
	margin: 10px;
}
.centrar {
	text-align: center;
}
.titulo {
	width: 44%;
	height: auto;
}
.tituloboton {
	width: 9%;
	height: auto;
}
.tituloboton:hover {
	animation: invert 0.25s steps(1) infinite;
}
@keyframes invert {
	0% {
		filter: none;
	}
	50% {
		filter: invert(1);
	}
	100% {
		filter: none;
	}
}
.borde {
	position: relative;
	width: auto;
	height= 100%;
}
.borde::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: url('../../imagenes/dibujos/ojito.png') repeat;
	background-size: 20px 20px;
	z-index: -1
}
.colum {
	flex: 1;
}
.colum img {
	margin: 10px 0px 0px 10px;
}
.dibujos {
	background-color: black;
	display: flex;
	justify-content: space-between;
	gap: 10px;
}
.dibujos img {
	max-width: 95%;
	height: auto;
}
.miguel {
	width: 69%;
	height: auto;
}
.linear {
	text-align: center;
	color: black;
}